.footerbox {
    width: 100%;
    height: 400px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.footerbox a {
    color: var(--primaryColor);
    font-size: 5rem;
}