.MovieDetail p, h2 {
    color: var(--fontColor);
}

.MovieDetail h1 {
    color: var(--fontColorFaded);
}

.MovieDetail h2 {
    font-size: 3rem;
    font-weight: 600;
}

.MovieDetail {
    width: 100%;
    margin: 3em 0 5em 0;
}

.titlebox {
    width: 80%;
    display: flex;
    margin: 2em auto;
    align-items: flex-start;
}

.titleboxleft {
    width: 70%;
    text-align: left;
}

.titleboxright {
    text-align: right;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: flex-end;
}

.titleboxright p {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .6em;
    border-radius: 50%;
    color: var(--primaryColor);
    font-weight: 600;
    background-color: var(--secondaryColor);
}

.titleboxright button {
    float: right;
}

.MovieDetailBox {
    width: 80%;
    height: 450px;
    margin: auto;
    display: flex;
    margin-bottom: 3em;
    display: flex;
}

.MovieDetailBox img {
    /* width: 150px;
    height: 224px; */
    width: 301.63px;
    height: 450px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(22, 20, 20);
}

.MovieDetailBox iframe {
    /* width: 800px;
    height: 450px; */
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.MovieDetailBox .video {
    width: 100%;
    height: 100%;
}

.otherdetails {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 2em;
}

.otherdetails img {
    display: none;
}

.otherdetailsleft {
    display: flex;
    width: 40%;
    gap: 2em;
}

.otherdetailsright {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
    gap: 4em;
}

.otherdetailsright h2 {
    font-size: 1.5rem;
    color: var(--secondaryColor);
}

.allgenres {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.allgenres p {
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 2em;
    font-size: .8rem;
    margin: 0;
}

.reviewBox {
    width: 80%;
    margin: 5em auto;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.review p:first-child {
    color: var(--secondaryColor);
    font-weight: 600;
}


@media screen and (max-width:818px) {
    .MovieDetailBox {
        flex-direction: column;
        width: 92%;
    }

    .review {
        flex-direction: column;
    }

    .titlebox {
        flex-direction: column;
        width: 92%;
    }

    .titleboxleft, .titleboxright {
        width: 100%;
    }

    .MovieDetailBox img {
        display: none;
    }

    .otherdetails {
        width: 90%;
        flex-direction: column;
    }

    .otherdetails .detailLeft {
        width: 100%;
    }

    .otherdetails img {
        display: block;
        width: 30%;
        margin: auto;
    }

    .otherdetailsleft {
        width: 100%;
    }

    .otherdetailsright {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

/* @media screen and (max-width:500px) {
    .MovieDetailBox img {
        display: none;
    }
} */

