.MovieDetail p, h2 {
    color: var(--fontColor);
}

.MovieDetail h1 {
    color: var(--grey);
}

.MovieDetail h2 {
    font-size: 3rem;
    font-weight: 600;
}

.MovieDetail {
    width: 100%;
    margin: 6em 0 5em 0;
}

.MovieDetailBox {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 2em;
    margin-bottom: 5em;
}

.detailLeft {
    width: 50%;
}

.detailRight {
    height: 300px;
    width: 50%;
    border-radius: 10px;
    background-color: var(--grey);
}

.reviewBox {
    width: 80%;
    margin: auto;

}

.review {
    display: flex;
    gap: 2em;
}

.detailLeftInteraction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailLeftInteraction button {
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    gap: .5em;
    background-color: var(--fontColor);
}

@media screen and (max-width:768px) {
    .MovieDetailBox {
        flex-direction: column;
        width: 92%;
    }

    .detailLeft, .detailRight {
        width: 100%;
    }

    .review {
        flex-direction: column;
    }
}