.nowplaying {
    width: 100%;
    height: 26em;
    position: relative;
    margin-top: 3em;
}

.nowplayingcontainer {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}

.nowplayingcontainer h1 {
    color: var(--fontColorFaded);
    padding: 0 1em;
}

.nowplayingsection {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: .5em;
}

.nowplayingsection #left, #right {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 36%;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

.nowplayingsection::-webkit-scrollbar {
    display: none; /*Chrome*/
}
  
.nowplayingsection {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1000px) {
    .nowplayingsection {
        padding: 0 2em;
    }

    .nowplayingcontainer {
        width: 100%;
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    #left {
        left: 2%;
    }
    
    #right {
        right: 2%;
    }

}