.nowplayingmovie {
    width: 390px;
    position: relative;
    cursor: pointer;
}
.nowplayingmovie img {
    width: 390px;
    height: 276px;
    border-radius: 10px;
    background-color: red;
}

.nowplayingmovie .overlay {
    position: absolute;
    width: 390px;
    height: 276px;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5);
}

.nowplayingmovie .overlay #add {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.nowplayingmovie #play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.playing {
    position: relative;
}

