.nowplaying {
    width: 100%;
    height: 30em;
    position: relative;
}

.nowplayingcontainer {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}

.nowplayingcontainer h1 {
    color: var(--fontColorFaded);
    padding: 0 1em;
}

.nowplayingsection {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: .5em;
}

.nowplayingsection::-webkit-scrollbar {
    display: none; /*Chrome*/
}
  
.nowplayingsection {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1000px) {
    .nowplayingsection {
        padding: 0 2em;
    }

    .nowplayingcontainer {
        width: 100%;
        margin: auto;
    }

}