.searchresults {
    position: absolute;
    width: 100%;
    /* margin: auto;
    height: auto; */
    z-index: 3;
    background-color: var(--grey);
    border-radius: 10px;
    top: 4em;
}

.searchresults h1 {
    color: var(--fontColorFaded);
    display: flex;
    align-items: center;
}

.searchresults p, h2 {
    margin: 0;
}

.searchresults p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--fontColorFaded);
}

.searchresults p span {
    color: var(--secondaryColor);
}

.searchresults h2 {
    color: var(--fontColor);
    font-size: 1rem;
}

.searchresults h3 {
    font-size: 1rem;
    margin: 0;
}

.searchresults a {
    color: var(--fontColor);
    margin-right: .5em;
    font-size: 1.2rem;
}

/* .searchresults {
    width: 100%;
    position: relative;
} */

.result {
    cursor: pointer;
    display: flex;
    gap: .5em;
    padding: .5em ;
    border-bottom: 1px solid var(--fontColorFaded);
}

.result:first-child {
    border-radius: 10px 10px 0 0;
}

.result:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.result:hover {
    background-color: var(--primaryColor);
}

.result img {
    width: 42px;
    height: 65px;
    background-color: black;
    border-radius: 5px;
}

.resultinfo {
    padding: .5em 0;
}

@media screen and (max-width: 768px) {
    
    .searchmodal {
        top: 65px;
    }
}