:root {
    --primaryColor: #12130C;
    --secondaryColor: #CCFF00;
    --fontColor: #fff;
    --grey: #1e1e1e;
    --fontColorFaded: #42443C;
  }

.trending {
    width: 100%;
    position: relative;
    height: 30em;
}

.trendingcontainer {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
}

.trendingcontainer h1 {
    color: var(--fontColorFaded);
}

.trendingcontainer p, h2 {
    color: var(--fontColor);
    margin: 0;
}

.trendingcontainer p {
    font-size: 0.7rem;
    color: var(--secondaryColor);
}

.trendingcontainer h2 {
    font-size: 1rem;
    padding: .3em 0;
    height: 3em;
}

.trendingcontainer h3 {
    font-size: 1rem;
    margin: 0;
}

.trendingsection {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: .5em;
}

/* .trending #toRight {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 43%;
}

.trending #toLeft {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 43%;
} */

.trendingsection::-webkit-scrollbar {
    display: none; /*Chrome*/
}
  
.trendingsection {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1000px) {
    .trendingsection {
        padding: 0 2em;
    }

    .trendingcontainer {
        width: 100%;
        margin: auto;
    }
    
    .trendingcontainer h1 {
        color: var(--fontColorFaded);
        padding: 0 1em;
    }
}