:root {
    --primaryColor: #12130C;
    --secondaryColor: #CCFF00;
    --fontColor: #fff;
    --grey: #1e1e1e;
    --fontColorFaded: #42443C;
  }

.trending {
    width: 100%;
    position: relative;
}

.trendingcontainer {
    width: 80%;
    margin: auto;
}

.trendingcontainer h1 {
    color: var(--fontColorFaded);
}

.trendingcontainer p, h2 {
    color: var(--fontColor);
    margin: 0;
}

.trendingcontainer p {
    font-size: 0.7rem;
    color: var(--secondaryColor);
}

.trendingcontainer h2 {
    font-size: 1rem;
    padding: .3em 0;
    height: 3em;
}

.trendingcontainer h3 {
    font-size: 1rem;
    margin: 0;
}

.trendingsection {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

#toRight, #toLeft {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 48%;
}

#toRight {
    right: 7%;
}

#toLeft {
    left: 7%;
}

.trendingsection::-webkit-scrollbar {
    display: none; /*Chrome*/
  }
  
  .trendingsection {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }