:root {
    --primaryColor: #12130C;
    --secondaryColor: #CCFF00;
    --fontColor: #fff;
    --grey: #1e1e1e;
    --fontColorFaded: #42443C;
}

.yourwatchlist {
    width: 100%;
    height: 20em;
    margin: 3em 0;
}

.watchlistcontainer {
    width: 80%;
    margin: auto;
    height: 100%;
}

.watchlistcontainer h1 {
    color: var(--fontColorFaded);
    display: flex;
    align-items: center;
}

.watchlistcontainer p, h2 {
    color: var(--fontColor);
    margin: 0;
}

.watchlistcontainer h4 {
    color: var(--fontColorFaded);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.watchlistcontainer p {
    font-size: 0.7rem;
    color: var(--secondaryColor);
}

.watchlistcontainer h1 svg {
    transform: rotate(-90deg)
}

.watchlistcontainer .listedinfo h2 {
    font-size: 1rem;
}

.watchlistcontainer h3 {
    font-size: 1rem;
    margin: 0;
}

.watchlistcontainer a {
    color: var(--fontColor);
    margin-right: .5em;
    font-size: 1.2rem;
}

.watchlistsection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0 27px;
}

.accesswatchlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.accesswatchlist p {
    font-size: 1rem;
    text-align: center;
    color: var(--fontColor);
    margin: 2.5em 0;
}

.accesswatchlist a {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: .7em 2em;
    border-radius: 10px;
    /* font-weight: 600; */
    font-size: 1rem;
}

.listedmovie {
    display: flex;
    gap: 1em;
    padding: 1.5em ;
    border-bottom: 1px solid var(--fontColorFaded);
}

.listedmovie svg {
    min-height: 35px;
    min-width: 35px;
}

.listedmovie:hover {
    background-color: var(--grey);
}

@media screen and (max-width: 768px) {
    
    .watchlistsection {
        gap: 0;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .listedmovie:last-child {
        border-bottom: none;
    }

    .yourwatchlist{
        min-height: 200px;
        height: auto;
        margin: 3em 0;
    }

    .watchlistcontainer {
        min-height: inherit;
    }

    .watchlistcontainer h4 {
        margin-top: 4em;
    }
}